@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
/*
=============== 
Variables
===============
*/

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(206, 33%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}

/*

  /*
=============== 
Global Styles
===============
*/

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-secondary);
    background: var(--clr-grey-10);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img:not(.nav-logo) {
    width: 100%;
    display: block;
}

h1, h2, h3, h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1rem;
    }
    body {
        font-size: 1rem;
    }
    h1, h2, h3, h4 {
        line-height: 1;
    }
}

/*  global classes */

.btn {
    font-family: var(--ff-primary);
    text-transform: uppercase;
    background: transparent;
    color: var(--clr-black);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    font-weight: 700;
    transition: var(--transition);
    font-size: 0.875rem;
    border: 2px solid var(--clr-black);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
}

.btn:hover {
    color: var(--clr-white);
    background: var(--clr-black);
}

/*
=============== 
Nav
===============
*/

nav {
    background: var(--clr-white);
    height: 3rem;
    display: grid;
    align-items: center;
    box-shadow: var(--dark-shadow);
}

.nav-center {
    width: 90vw;
    max-width: var(--fixed-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-center h4 {
    margin-bottom: 0;
    color: var(--clr-primary-5);
}

.nav-links {
    display: flex;
}

nav a {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1rem;
    color: var(--clr-primary-1);
    letter-spacing: var(--spacing);
    margin-right: 1rem;
}

nav a:hover {
    color: var(--clr-primary-5);
}

/*
=============== 
Container
===============
*/

html, body {
    height: 100%;
}

.container {
    text-align: center;
    height: 100%;
    margin: auto;
}

.title h2 {
    font-family: "Great-Vibes", cursive;
    color: rgb(235, 187, 54);
    text-align: center;
}

.title::after {
    content: "";
    width: 500px;
    margin: auto;
    display: block;
    border-bottom: 2px solid rgb(235, 187, 54);
}
.category {
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 25px;
}
.category li {
    text-transform: uppercase;
    border: 2px solid rgb(218, 163, 13);
    border-radius: 15px;
    padding: 8px;
    display: inline-block;
    background-color: rgb(247, 204, 85);
    color: var(--clr-white);
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition);
}
.category li:hover {
    background-color: var(--clr-black);
}

.menu-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    margin-top: 40px;
    width: 80vw;
    gap: 1rem 2rem;
}

.menu-wrapper li {
    padding: 10px;
    background-color: var(--clr-white);
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    grid-template-rows: 1fr 3fr;
    
    gap: 1rem 1rem;
}
.item1 {
    grid-row: 1 / 3;
}
.item4 {
    grid-column: 2/4;
}

.imgdish {
    margin: 3px;
} 
.imgdish img {
    height: 250px;
}

.titledish {
    text-transform: uppercase;
    font-family: "Roboto", 'sans-serif';
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--clr-primary-3)
}

.pricedish {
    justify-self: end;
    font-family: "Roboto", 'sans-serif';
    font-size: 1.4rem;
    color: rgb(218, 163, 13);
}


@media screen and (max-width: 800px) {
    .menu-wrapper {
        grid-template-columns: 1fr;
    }
    .menu-wrapper li {
        grid-template-columns: 4fr 2fr 1fr;
    
    }
}